main {
    font-family: 'Inter';
    box-sizing: border-box;
    padding-top: 0;
}

section#sone {
    margin: 0;
    padding: 0;
    background-image: url(./content/volunteering/HeadingBack.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20rem 0;
}

section h4, section.plane p, section.plane span, section.conditions h5,
section.conditions p, section#stwo ul, section.schedule h4, section.schedule p {
    margin-left: 100px;
}

section#sone .heading {
    color: #fff;
    font-family: 'Raleway';
}

section#sone .heading h1 {
    font-size: 64px;
    font-weight: 700;
}

section#sone .heading h2 {
    font-size: 48px;
    font-weight: 400;
}

section#stwo h3 {
    margin: 20px auto 50px 20px;
    font-size: 32px;
    font-weight: 400;
}

section h4 {
    font-size: 64px;
    font-family: 'Raleway';
    margin-bottom: 30px;
}

section#stwo h5 {
    text-decoration: underline;
    text-decoration-thickness: 7px;
    text-decoration-color: #58845c;
}

section.plane {
    padding: 100px 0;
    margin-bottom: 100px;
    background-image: url(./content/volunteering/plane.svg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: right;
    background-attachment: local;
    background-repeat: no-repeat;
}

section.plane p {
    font-size: 32px;
    margin-bottom: 10px;
}

section.plane p.lastp {
    margin-bottom: 100px;
}

section.plane span {
    font-size: 48px;
    font-family: 'Inter';
    border: 7px dashed #58845c;
    border-radius: 20px; 
    padding: 10px;
}

section.conditions .living {
    min-height: 400px;
    margin-bottom: 50px;
    background-image: url(./content/volunteering/accommodation.svg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: right;
    background-attachment: local;
    background-repeat: no-repeat;
}

section.conditions .feeding {
    min-height: 300px;
    background-image: url(./content/volunteering/food.svg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;  
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
}

section.conditions h5 {
    margin-bottom: 30px;
    font-size: 52px;
}

section.conditions p {
    font-size: 24px;
}

section#stwo {
    padding-top: 5vw;
}

section#stwo ul {
    font-size: 24px;
    margin-top: 20px;
    list-style: none; 
}

section#stwo ul li {
    margin-bottom: 20px;
}

section#stwo ul li::before {
    content: "\25C6";  
    padding-right: 10px;
    color: #58845c; 
    font-weight: bold;
    display: inline-block;
}

.caution {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;  
    padding-right: 100px;
    font-size: 40px;
}

.caution .exclamation {
    color: #58845c;
    font-size: 72px;
    font-family: 'Franklin Gothic Medium Cond', 'Arial Narrow', Arial, sans-serif;
    margin-right: 5px;
    font-weight: 700;
} 

section.schedule {
    background-image: url(./content/volunteering/schedule.svg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
}

section.schedule h4 {
    padding-top: 50px;
}

section.schedule p {
    margin-bottom: 20px;
    font-size: 24px;
}

section.bonus {
    display: block;
    margin: 50px 100px;
    padding: 50px;
    background-color: #ABC1AD;
    color: #fff;
    text-align: justify;
    font-size: 24px;
}

section.from {
    background-image: url(./content/volunteering/charity.svg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: left;
    background-attachment: local;
    background-repeat: no-repeat;
}

section#sthree {
    margin: 50px 0;
}

section#sthree .gallery {
    margin: 0 100px;
    display: grid;
    grid-template:
                "a a b c c d" 250px
                "a a e f f g" 250px
                "h h i j j k" 300px
                "l l m n n n" 200px
                "l l m n n n" 200px
                "o o o p p q" 200px
                "o o o p p q" 200px
                "r s t u v w" 150px
                "r s x u v w" 150px;
    gap: 5px;   
}

section#sthree .gallery > div {
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

section#sthree .gallery div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Raleway';
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s;
    backdrop-filter: blur(5px);
}

.image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image-overlay:hover {
    opacity: 1;
}

.image-overlay:hover > * {
    transform: translateY(0);;
}

.image-description {
    margin-top: 0;
    text-align: center;
    font-size: 1.25em;
    margin-top: 0.3em;
    padding: 0 5%;
}

a.instagram {
    color: #8ad190;
}

@media screen and (max-width: 900px) {
    section#sthree .gallery {
        grid-template:
                "a a b"
                "a a e"
                "d c c"
                "f f g"
                "h h m"
                "i l l"
                "o o j"
                "r s t"
                "r s x"
                "k n n"
                "p p q"
                "u v w";
    }
}

@media screen and (max-width: 800px) { 
    section h4, section.plane p, section.plane span, section.conditions h5,
    section.conditions p, section#stwo ul, section.schedule h4, section.schedule p,
    section#sthree .gallery {
        margin: 0 3vw;
    }

    section#sone .heading h1 {
        font-size: calc(20px + 5vw);
    }
    
    section#sone .heading h2 {
        font-size: calc(10px + 5vw);
    }

    section#stwo h3 {
        margin: 20px;
        font-size: calc(8px + 4vw);
    }
    
    section h4 {
        margin-bottom: calc(5px + 4vw);
        font-size: calc(14px + 8vw);
    }

    section.plane {
        padding: 2vw 0;
    }

    section.plane p {
        font-size: calc(10px + 4vw);
        margin-bottom: 10px;
    }

    section.plane p.lastp {
        margin-bottom: 15vw;
    }

    section.plane span {
        font-size: calc(5px + 5vw);
        background-color: rgba(255, 255, 255, 0.5);
    }

    section.conditions h5 {
        margin-bottom: 30px;
        font-size: calc(12px + 7vw);
    }

    section.schedule p {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 750px) {
    .caution {
        width: 100%;
        font-size: 40px;
        font-size: calc(14px + 4vw);
        justify-content: center;
        padding-right: 0;
    }
    
    .caution .exclamation {
        font-size: 72px;
        font-size: calc(24px + 4vw);
    }

    section.bonus {
        display: block;
        margin: 50px 0;
    }
}

@media screen and (max-width: 508px) {
    .caution {
        padding-top: 30px;
    }

    section.from {
        word-wrap: break-word;
    }

    .image-description {
        padding: 0;
        font-size: 0.8em;
        padding: 5px;
    }
}

@media screen and (max-width: 420px) {
    section.plane {
        background-size: 250%;
        -webkit-background-size: 250%;
        -moz-background-size: 250%;
        -o-background-size: 250%;
    }

    section.conditions .living, section.conditions .feeding, 
    section.schedule, section.from {
        background-size: 400%;
        -webkit-background-size: 400%;
        -moz-background-size: 400%;
        -o-background-size: 400%;
    }
}

@media screen and (max-width: 376px) {
    section h4 {
        font-size: calc(12px + 8vw);
    }
}